*.pyc
**/*/ospl-info.log
**/*/ospl-error.log
**/*/venv
**/__pycache__
**/.DS_Store
**/pytest_session.txt
**/.pytest_cache
**/.vscode
**/*.egg-info
python/love/producer/version.py
.pre-commit-config.yaml
.clang-format
.flake8
.isort.cfg
.mypy.ini
.ruff.toml
towncrier.toml
build
docs
