eventlet~=0.33
flake8~=4.0
gevent~=21.12
greenlet~=1.1
#m2r~=0.2
six~=1.16
sphinx-rtd-theme~=1.0
Sphinx~=5.0
sphinxcontrib-applehelp~=1.0
sphinxcontrib-devhelp~=1.0
sphinxcontrib-htmlhelp~=2.0
sphinxcontrib-jsmath~=1.0
sphinxcontrib-qthelp~=1.0
sphinxcontrib-serializinghtml~=1.1
websocket-client~=1.3
websockets~=10.3
