version: "3.7"

networks:
  kafka:
    external: true

services:
  producer:
    container_name: love-producer-mount
    build:
      context: ..
      dockerfile: docker/Dockerfile-dev
      args:
        dev_cycle: ${dev_cycle}
    image: love-producer-image-mount
    environment:
      - LSST_TOPIC_SUBNAME=test
      - LSST_SITE=test
    volumes:
      - ..:/usr/src/love
    command: ["/usr/src/love/docker/setup-dev.sh"]
    stdin_open: true
    tty: true
    networks:
      - kafka
